@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*
Colors 
Text - #aaa9ad
*/

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
::-webkit-scrollbar-track {
  padding: 2px;
}
::-webkit-scrollbar-thumb {
  background: #e43f5a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7c2231;
}